# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

commands.txtsnode_modules/
.next/
.env
.env.local
dist/
build/
